PySpark is Python interface for Apache Spark. The primary use cases for PySpark are to work with huge amounts of data and for creating data pipelines.

You don't need to work with big data to benefit from PySpark. SparkSQL is a great tool for performing routine data anlysis. Pandas can get slow and you may find yourself writing a lot of code for data cleaning whereas the same actions take much less code in SQL.

# 1. Installing PySpark in Google Colab

In [ ]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

## 1.1 Download `spark-3.2.1` from https://dlcdn.apache.org/spark

In [ ]:
''' Add your code here '''

## 1.2 Uncompress spark

In [ ]:
''' Add your code here '''

## 1.3 Imports

In [ ]:
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
import findspark

findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

## 1.4 Start a spark Session

In [ ]:
## Create a spark Session
spark= SparkSession \
       .builder \
       .appName("Spark Example") \
       .getOrCreate()

In [ ]:
spark

# Setup - 1 : Creating a Test Spark DataFrame

In [ ]:
## Consider this sample dataset with details of "first_name", "last_name" & "user_id"
data = [
        ('John','Smith',1),
        ('Jane','Smith',2),
        ('Jonas','Smith',3),
]


## Create a spark dataframe out of above data
df = ''' Add your code here '''

In [ ]:
df

In [ ]:
## Show first 2 rows of the dataframe
''' Add your code here '''

# Steup - 2 : Example with a Pre-existing Data Set
This data set comes with your Google Colab Session - `sample_data/california_housing_train.csv`

In [ ]:
## Read the dataset using "spark"
df = ''' Add your code here '''

In [ ]:
## Print schema for the read dataframe
''' Add your code here '''

In [ ]:
## Print first 10 rows
''' Add your code here '''

In [ ]:
## Get the number of entries in the dataframe
''' Add your code here '''

In [ ]:
## Print median age & total rooms for first 5 records
''' Add your code here '''

In [ ]:
## Get distinct values from the column "total_rooms"
''' Add your code here '''

In [ ]:
from pyspark.sql import functions as F

## Get sum of 'housing_median_age' for each group of 'total_rooms'
test = ''' Add your code here '''

In [ ]:
test.toPandas()

# Setup -3 : Reading Data from external source

For this example, We are going to use a publicly available data set in a CSV format.

In [ ]:
import requests
path = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"
req = requests.get(path)
url_content = req.content

csv_file_name = 'owid-covid-data.csv'
csv_file = open(csv_file_name, 'wb')

csv_file.write(url_content)
csv_file.close()

### Read the downloaded file using spark into a dataframe ###
df = ''' Add your code here '''

## 3.1 PySpark DataFrames

In [ ]:
#Viewing the dataframe schema
''' Add your code here '''

In [ ]:
#Converting a date column
df.select(F.to_date(df.date).alias('date'))

In [ ]:
#Summary stats
''' Add your code here '''

In [ ]:
#DataFrame Filtering

# Find newest cases from "United States"
''' Add your code here '''

# 4. Spark SQL

There is less to learn since it's basically the same SQL syntax you might already be comfortable with.

In [ ]:
#Creating a table from the dataframe
## Make sure your data is in a dataframe called "df"

df.createOrReplaceTempView("covid_data") #temporary view

In [ ]:
# Write sql query to print all data from the temporary view created above.
df2 = ''' Add your code here '''
df2.printSchema()
df2.show()

In [ ]:
# Write sql query to get count from each location
groupDF = ''' Add your code here '''
groupDF.show()